@import '../variables.scss';

.Navbar{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    padding: $small;
    width: 100%;
    height: 70px;
    background-color: $navy;
    position: relative;
    .MobileList{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: calc(100vh - 70px);
        background-color: $navy;
        transform: translateY(100%);
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-around;
        color: $lightblue;
        z-index: 1000000;
        ul {
            list-style-type: none;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            li {
                cursor: pointer;
                padding: $small;
                a {
                    font-family: $font-headers;
                }
            }
        }
    }
}