@import '../variables.scss';

.Navbar{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    padding: $small;
    width: 100%;
    height: 70px;
    background-color: $navy;
    position: relative;
    .mobileNavList{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: calc(100vh - 70px);
        background-color: $navy;
        transform: translateY(100%);
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-around;
        color: $lightblue;
        z-index: 1000000;
        ul {
            list-style-type: none;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            li {
                cursor: pointer;
                padding: $small;
                a {
                    font-family: $font-headers;
                }
            }
        }
    }
    .desktopNavList{
        display: none;
    }
    .banner{
        cursor: pointer;
        .howName{
            display: none;
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    .hamburgerMenu{
        display: none;
    }
    .desktopNavList{
        display: flex !important;
        flex-flow: row nowrap;
        align-items: center;
        color: $white;
        ul{
            display: flex !important;
            flex-flow: row nowrap;
            margin-right: $big;
            li {
                margin: 0 $small;
                font-weight: normal;
                transition: all 300ms ease-in;
                &:hover{
                    font-weight: $font-bold;
                }
            }
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .desktopNavList{
        ul{
            li {
                margin: 0 $big;
            }
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    .banner{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        .howName{
            display: block !important;
            margin-left: $small;
            font-size: 20px;
            font-family: $font-headers;
            color: $white;
        }
    }
}