@import '../variables.scss';

.card{
    position: relative;
    z-index: 100;
    width: 100%;
    height: 100px;
    box-shadow: 0px 0px 5px 6px rgba(8, 9, 23, 0.1);
    margin: $big-mobile 0;
    &:first-of-type{
        margin-top: 0;
    }
    .outerWrapper{
        position: relative;
        z-index: 50;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        background-color: $white;
        width: 100%;
        height: 100%;
        padding:0 $small-mobile;
        .innerWrapper {
            display: flex;
            flex-flow: row nowrap;
            align-items: flex-start;
            width: calc(100% - 20px);
            .image{
            width: 100px;
            height: 100%; 
            object-fit: fill; 
            }
                .title{
                    font-size: 12px;
                    font-family: $font-headers;
                    margin: 0 5px;
                }
                .text{
                    font-size: 10px;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden; 
                    text-align: justify;
                    margin: 0 7px;
                }
            
        }           
        .readMore{
            width: 20px;
            height: 20px;
            background-color: transparent;
            border: none;
            &Icon{
            width: 100%;
            height: 100%; 
            }
        }
    }
    &::before, &::after{
        content:'';
        position: absolute;
        background-color: red;
        width: 30px;
        height:30px;
        z-index: 0;
    }
    &:before{
        bottom: -5px;
        left: -5px;
    }
    &:after{
        top: -5px;
        right: -5px;
    }
    &.reversed{
        &::before{
            background-color: $red;
        }
        &::after{
            background-color: $yellow;
        }
        .contentWrapper{
            flex-direction: row-reverse;
        }
    }
    &:not(.reversed){
        &::before{
            background-color: $yellow;
        }
        &::after{
            background-color: $red;
        }
    } 
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .card{
        .outerWrapper{
            .innerWrapper {
                .image{
                width: 100px;
                height: 100%; 
                object-fit: fill; 
                }
                .title{
                    font-size: 14px;
                    font-family: $font-headers;
                    margin: 0 calc($big-mobile - 2px);
                }
                .text{
                    font-size: 10px;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden; 
                    text-align: justify;
                    margin: 0 $big-mobile;
                }
                
            }           
            .readMore{
                width: 20px;
                height: 20px;
                background-color: transparent;
                border: none;
                &Icon{
                width: 100%;
                height: 100%; 
                }
            }
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .card{
        max-width: 600px;
        height: 170px;
        box-shadow: 0px 0px 5px 6px rgba(8, 9, 23, 0.1);
        margin: $big-desktop 0;
        &:first-of-type{
            margin-top: $big-desktop;
        }
        .outerWrapper{
            height: 100%;
            .innerWrapper {
                height: 130px;
                .image{
                    width: auto;
                    object-fit: fill;           
                }
                .content {
                    height: 100%;
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: space-between;
                    padding: $small-mobile 0;
                    .title{
                        font-size: 20px;
                    }
                    .text{
                        font-size: 12px;
                        margin: 0 20px;
                        -webkit-line-clamp: 4;
                    }
                }
                
                
            }           
            .readMore{
                width: 40px;
                height: 40px;
                background-color: transparent;
                border: none;
                &Icon{
                width: 100%;
                height: 100%; 
                }
            }
        }
        &::before, &::after{
            width: 80px;
            height:80px;
        }
    }
}