@import '../variables.scss';

.card{
    width: 250px;
    height: 260px;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: calc(2 * $big-mobile);
    cursor: pointer;
    h3 {
        font-size: 12px;
        font-weight: bold;
        margin: $small-mobile;
        text-align: center;
    }
    p {
        font-size: 10px;
        font-weight: normal;
    }
}


@media (min-width: 992px) {
    .card {
        width: 350px;
        height: 420px;
        img{
            width: 250px;
            height: 250px;
        }
        h3 {
            font-size: 18px;
        }
        p {
            font-size: 14px;
        }
    }
}
@media (min-width: 1201px) {
    .card {
        width: 400px;
        height: 520px;
        img{
            width: 300px;
            height: 300px;
        }
        h3 {
            font-size: 20px;
        }
        p {
            font-size: 16px;
        }
    }
}