@import '../variables.scss';

.TextBox {
    margin-bottom: $big-mobile;
    padding-inline: auto;
    width: 100%;
    font-size: 12px;
    text-align: justify;
    p{
        margin-bottom: $small-mobile;
    }
}
.TextBoxWithBg{
    padding: $big-mobile;
    background-color:$white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

@media (min-width: 576px) { 
    .TextBox {
        font-size: 16px;
    }  
}
@media (min-width: 1201px) { 
    .TextBox {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        padding: $big-desktop;
    }  
}
