@import '../variables.scss';

.innerWrapper{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    height: calc(100vh - 70px - 40px);
    overflow: auto;
    .mapSection{
        width: 100vw;
    }
    .contactInfoBox{
        width: 90%;
        margin: $big-mobile auto;
        background: #FFFFFF;
        box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
        padding: $big-mobile;
        h2{
            font-size: 20px;
            margin-bottom: $small-mobile;
        }
        .contactInfo{
            display: flex;
            align-items: center;
            margin: $small-mobile;
            p{
                margin-left: $small-mobile;
                span{
                    display: block;
                }
            }
        }
    }
    .contactForm{
        width: 90%;
        .inputContainer{
            width: 100%;
            margin-bottom: $big-mobile;
            margin-top: 0;
            .labelBox {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                margin-bottom: $small-mobile;
                min-width: 100%;
                .labelImage{
                    height:20px;
                    width: auto;
                }
                label{
                    width: 100%;
                    margin-left: $small-mobile;
                }
            }
            input, textarea {
                width: 100%;
                line-height: 32px;
                background-color: $white;
                outline: none;
                border: none;
                box-shadow: 00px 0px 10px rgba(0, 0, 0, 0.3);
                padding-left: $small-mobile;
                resize: none;
                font-size: 1rem;
            }
        }
        .submitButton{
            width: 50%;
            background-color: $blue;
            border: 2px solid black;
            margin-bottom: $big-mobile;
            padding: $small-mobile 0;
            font-weight: $font-bold;
            margin-left: 50%;
            transform: translateX(-50%);
            cursor: pointer;
        }
    }
    .banner {
        width: 90%;
        margin-bottom: $big-mobile;
        .bannerImage {
            width: 100%;
            height: auto;
        }
    }
}