//font-family
$font-primary: 'Montserrat',sans-serif;
$font-headers: 'Joti One',cursive;

//font-weight
$font-bold: 700;
$font-regular: 400;
$font-light: 200;

//colors
$navy: #080917;
$lightblue: #ECFEFA;
$white: #FFFFFF;
$blue: #5DA9E9;
$yellow: #FCF300;
$red: #F51400;

//padding
$small-mobile: 12px;
$big-mobile: 20px;
$small-tablets: 16px;
$big-tablets: 24px;
$big-desktop: 32px;