@import url('https://fonts.googleapis.com/css2?family=Joti+One&family=Montserrat:wght@200;400;700&display=swap');

//font-family
$font-primary: 'Montserrat, sans-serif';
$font-headers: 'Joti-One, serif';

//font-weight
$font-bold: 700;
$font-regular: 400;
$font-light: 200;

//colors
$navy: #080917;
$lightblue: #ECFEFA;
$white: #FFFFFF;
$blue: #5DA9E9;
$yellow: #FCF300;
$red: #F51400;